<h1><%= @event.name %> / Registration</h1>

<h2>Step 1</h2>

<%= form_for @registration, :url => update_step1_event_registration_path(@event, @registration) do |f| %>
  <%= render :partial => "step1", :locals => {:f => f} %>
<% end %>
